<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form>
      <div class="ion-text-center">
        <img width="150" height="150" [src]="'./assets/images/logo.png'" />
      </div>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input value="Bakraniya Sagar" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Salary</ion-label>
          <ion-input value="50000.00" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Current Position</ion-label>
          <ion-input value="Developer" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Joining Date</ion-label>
          <ion-input value="2021-01-01" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Total Experience</ion-label>
          <ion-input value="5 Years" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Notice Period</ion-label>
          <ion-input value="25 Days" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contact</ion-label>
          <ion-input value="+91 7990712789" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input value="sagarbakraniya5@gmail.com" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Marital Status</ion-label>
          <ion-input value="Never Married" disabled></ion-input>
        </ion-item>
      </ion-list>
    </form>
</ion-content>
